version: "3.9"

services:
  postgres:
    image: pgvector/pgvector:pg16
    container_name: bc_pg
    restart: unless-stopped
    environment:
      POSTGRES_DB: bc_dev
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
